@font-face {
  font-family: "Gilroy500";
  src: url("../fonts/Gilroy/Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy600";
  src: url("../fonts/Gilroy/SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy700";
  src: url("../fonts/Gilroy/Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy800";
  src: url("../fonts/Gilroy/ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100vh;
  min-height: 100%;
}

body {
  margin: 0;
  padding-right: 0 !important;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f2f7;
  position: relative;
}

body.custom-overflow {
  overflow-y: auto !important;
}

body::before {
  content: "";
  width: 340px;
  height: 102px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 40px;
  background: url("../assets/backgrounds/bg_body_top.svg") no-repeat center;
  background-size: cover;
  z-index: -1;
}

body::after {
  content: "";
  width: 102px;
  height: 340px;
  display: inline-block;
  position: fixed;
  top: 70%;
  left: 0;
  transform: translateY(-70%);
  background: url("../assets/backgrounds/bg_body_left.svg") no-repeat center;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 768px) {
  body::after {
    display: none;
  }
}

@media (max-width: 768px) {
  body::before {
    display: none;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill-strong-password,
input:-webkit-autofill-strong-password-viewable,
input:-webkit-autofill-and-obscured {
  background-color: #4a4d57 !important;
  color: white !important;
  font-family: Gilroy600;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

input:-webkit-autofill {
  transition: color 5000s ease-in-out 0s, background-color 5000s ease-in-out 0s;
}

.MuiMenu-paper::-webkit-scrollbar {
  width: 8px;
}

.MuiMenu-paper::-webkit-scrollbar-thumb {
  background-color: #4a4d57;
  border-radius: 15px;
}

.MuiPickersPopper-paper {
  border-radius: 16px !important;
}
